.mantine-Notification-root {
    align-items: flex-start !important;
    /* padding-bottom: unset !important; */
}

.cms-list-notification {
    color: black;
}

.cms-list-notification ul {
    /* padding: 0; */
    padding-left: 0;
    margin: 0;
    list-style-position: inside;
}

.cms-notification-progress {
    margin-top: 12px;
    /* margin-bottom: -2px; */
}
