.mantine-Notification-closeButton {
    /* align-items: flex-start !important; */
    align-self: flex-start !important;
    /* padding-bottom: unset !important; */
}

.mantine-Notification-icon {
    align-self: flex-start !important;
}

.cms-list-notification {
    color: black;
}

.cms-list-notification ul {
    /* padding: 0; */
    padding-left: 0;
    margin: 0;
    list-style-position: inside;
}

/* mantine-Notification-closeButton */

.cms-notification-progress {
    margin-top: 12px;
    /* margin-bottom: -2px; */
}

.mantine-Notification-body {
    /* display: flex !important; */
    /* justify-items: center; */
}
