.cms-list-notification {
    color: black;
}

.cms-list-notification ul {
    padding-left: 0;
    margin: 0;
    list-style-position: inside;
}

.notification-root {
    background-color: #f5f5f5 !important;
    padding: 10px 15px 10px 15px !important;
    border-radius: 14px !important;
}

.notification-root .mantine-Notification-closeButton {
    align-self: flex-start;
}

.notification-root .mantine-Notification-icon {
    align-self: flex-start;
    height: 24px;
    width: 24px;
}

.notification-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.notification-progress .mantine-Progress-root {
    border-radius: 0;
}
